.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #3d3598, #357a96);
  padding: 20px;
}
.persona {
  margin-top: 70px;
}

.story {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.storyCard {
  width: calc(50% - 7px);
  height: 238px;
  border: solid 1px #979797;
}