.option {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 8px;
}

.content {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: solid 1px #ffffff;
}

.optionLink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.percentage {
  position: absolute;
  left: 0;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid 1px transparent;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, rgba(54, 39, 169, 0.48), rgba(54, 39, 169, 0.48));
}

.bankName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.tax {
  font-size: 16px;
  text-align: center;
  margin: 0
}